.nv-splash-page {
    .admin-login {
        padding-top: 0;
        
        .main-content-wrapper {
            margin: 0;
        }
    }
}

.splash-container {
    max-width: 401px;
    margin: 100px auto 0 auto;
    
    .card {
        margin-bottom: 30px;
        
        .card-header {
            text-align: center;
            margin-bottom: 20px;
            padding-top: 40px;
            padding-bottom: 0;
        }
        
        .card-body {
            padding: 20px 30px 15px;
        }
        
        .logo-img {
            max-width: 100%;
        }
    }
}

@media (max-width: (map-get($grid-breakpoints, "md") - 0.02)) {
    .splash-container {
        margin-top: 50px;
    }
}

.row.login-tools {
    padding: 15px 0 0;
    margin-bottom: 16px;
}

.login-submit, 
.row.login-submit {
    padding: 19px 0 0;
    margin-bottom: 1.3842rem;
}

.splash-footer {
    text-align: center;
}

.login-forgot-password {
    line-height: 2.1;
    text-align: right;
}

.login-submit .btn, 
.row.login-submit .btn {
    width: 100%;
}

.splash-container .card .card-body .custom-checkbox {
    display: inline-block;
    margin: 0;
}
